body{
    background-color: rgb(143, 112, 173);
    
}
.containeer{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
   
    
}
.child{
    width:250px;
    height: 550px;
   margin: 15px;
   padding: 20px;
   background-color: rgb(230, 236, 234); 
   border-radius: 3%; 
  
} 
.img{
    margin:20px;
    border-radius: 50%;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}